{{ define "header" }}<!doctype html>
<html>
<head>
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Dancing Script">

  <meta charset="utf-8">
  <meta name="author" content="{{ html .Site.Other.Author }}">
  <link rel="alternate" type="application/atom+xml" title="{{ html .Site.Other.Title }} feed" href="{{ .Rel "blog.atom" }}">
  <title>{{ .Site.Other.Title }}{{ if .Title }}: {{ .Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ .Rel "static/style.css" }}">
</head>
<body class="has-navbar-fixed-top">
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title nav-links" style="font-family: 'Dancing Script', serif;font-size: 42px;">
      <a href="/">JoGeek</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    {{ range .Site.Pages.GlobSource "tags/*.tag" }}

    <a href="/tags/{{ .Title }}">{{.Title}}</a>
    
    {{end}}
    
  </div>
</div>

{{ end }}

{{ define "footer" }}
</body>
</html>
{{ end }}

{{define "date"}}
<time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "2006, January 02" }}
</time>
{{end}}

{{ define "page" }}{{ template "header" . }}
  {{ .Content }}
{{ template "footer" . }}{{ end }}

{{ define "post" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div class="info">
      {{ template "date" .Date }} &mdash;
      {{ range $i, $t := .Tags }}{{if $i}},{{end}}
      <a href="/tags/{{ $t }}/">{{ $t }}</a>{{ end }}
    </div>
  </header>
  <section>
  {{ .Content }}
  </section>
</article>
{{ end }}

{{define "tag"}}
# Pages tagged with {{ .Title }}
{{ range .Site.Pages.WithTag .Title }}
- [{{ .Title }}](../../{{ .Url }})
{{ end }}
{{ end }}
